.imageblock {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: white;
  padding: 30px 40px;
}

.imageblock img {
  object-fit: contain;
  border-radius: 10px;
  width: 160px;
  height: 160px;
}

@media screen and (min-width: 768px) {

  .imageblock {
    padding: 60px 80px;
  }
}