.marquee {
  --speed : 20;

  display: flex;
  gap: 1rem;
  margin: 0;
  list-style-type:none;
  padding: 30px 40px;
  min-height: 250px;
  min-width: 250px;
  border-radius: 6px;
  container-type: size;

  --destination-x: 100%;
  /*animation : track-translate calc(var(--speed) * 1s) linear infinite;*/
  overflow: hidden;
}

.marquee li {
  --duration : calc(var(--speed) * 1s);
  --delay: calc((var(--duration) / var(--count)) * (var(--index, 0) - (var(--count) * 0.5)));
  --origin-y: 0;
  --destination-y : 0;
  height: 250px;
  width: 250px;
  flex-shrink: 0;

  --origin-x : calc(((var(--count) - var(--index)) + var(--inset, 0)) * 100%);
  --destination-x: calc(calc((var(--index) + 1 + var(--outset, 0)) * -100%));

  animation: slide var(--duration) calc(var(--delay) - (var(--count) * 0.5s)) infinite linear;
  translate : var(--origin-x) var(--origin-y)

}

.marquee li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes track-translate {
  to {
    translate : var(--destination-x, 0) var(--destination-y, 0);
  }
}

@keyframes slide {
  100% {
    translate :var(--destination-x) var(--destination-y);
  }
}