.hero {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  min-height: 300px;
  justify-content: center;
  gap: 40px;
}

.hero-image {
  width: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 1;
  pointer-events: none;
}

.hero-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

.shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.hero p {
  color: white;
  margin: 0;
  font-size: 1rem;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .hero {
    gap: 60px;
  }

  .hero p {
    font-size: 1.3rem;
  }
}
